#*
*#
*~
*.o
*.a
*.out
.ipynb_checkpoints/
__pycache__/
*.pdf
*.pyc
.coverage
*.gcov
*.gcda
*.gcno
test___*
docs/_build/*
local/*
*.sqlite
*.json
*.opendb
*.db
*.db-shm
*.db-wal
*.ipch
.vs/polara-keras2c/v16/.suo
*.pdb
*.obj
*.tlog
*.log
*.idb
x64/Debug/polara-keras2c.vcxproj.FileListAbsolute.txt
*.ilk
*.recipe
*.exe
*.user
*.filters
*.sln
*.vcxproj
mnist_train.csv
mnist_test.csv
*.enc
